<section class="register col-sm-12">
	<h3>All Users Can Register Here</h3>
	<div class="inner-container">
		<p>This page is used for adding some blank datas to the registration page</p>
			<p>This page is used for adding some blank datas to the registration page</p>
			<p>This page is used for adding some blank datas to the registration page</p>
			<p>This page is used for adding some blank datas to the registration page</p>
	</div>
	<button class="btn btn-primary btn-larg" ng-click="register.goToCreate()">Register</button>
</section>
